.bg-light{
	background-color:black !important;
	padding:10px 10px; 
}

.navbar-brand{
	color:white !important;
} 

.mainDiv{
	background-color:#41B3A3;
	height:450px; 
	text-align:center;
	padding:144px 0;
	box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}  

.mainForm_register{
	background-color:#41B3A3;
	padding:15px 15px;
	height:450px; 
	box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px !important; 
	
	.form-group.col-sm{
		width:250px;
	}
}
.secondFrom_register{
	height:100px;
}

.form-group.file-upload{
	display:grid;
	width:210px;
	margin-bottom:35px;
}

